#content5-5 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-5 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-5 .mbr-article {
  color: #fff;
}
#form1-0 .mbr-header__text {
  font-size: 25px;
}
